{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Category {{ category.id }}</h1>
    <p>Name: {{ category.name }}</p>
    <p>Description: {{ category.description }}</p>
    <p>Active:
        {% if category.active %}
            Yes
        {% endif %}
    </p>
    <p>Image:
        <img src="{{ asset(category.image|replace({'http://localhost:8000/': ''})) }}" alt="Image" style="width: 100px; height: 100px">
    </p>
{% endblock %}
