{% extends 'layout.html.twig' %}

{% block main %}
    <h1 class="text-center" style="margin-bottom: 30px">Add new callback</h1>
    <div class="container" style="max-width: 50%">
        {{ form(callback_form) }}
    </div>
{% endblock %}