{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/submit.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
    <h1 class="text-center" style="margin-bottom: 30px">Edit callback (ID: {{ callback.id }})</h1>
    <div class="container" style="max-width: 50%">
        {{ form(callback_form, {'attr': {'novalidate': 'novalidate'}}) }}
    </div>
{% endblock %}
