{% extends 'login_layout.html.twig' %}

{% block main %}
    <div>
        <img src="{{ asset('img/login-fsdfsdfsd.png') }}" alt="Login">
    </div>
    <h1 class="cover-heading">Login to your account</h1>
    <p class="lead">
    {% if error %}
        <div class="h2 text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div class="form-group row">
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control form-control-lg d-inline" placeholder="Username">
        </div>
        <div class="form-group row">
            <input type="password" id="password" name="_password" class="form-control form-control-lg" placeholder="Password">
        </div>
        <input type="hidden" name="_target_path" value="/admin/products">

        <button type="submit" class="btn btn-lg btn-secondary">Login</button>
    </form>
    </p>
{% endblock %}