{% extends 'layout.html.twig' %}

{% block main %}
    <h1>User #{{ user.id }}</h1>
    <p>Username: {{ user.username }}</p>
    <p>Password: {{ user.password }}</p>
    <p>Email: {{ user.email }} $</p>
    <p>Active:
        {% if user.active %}
            Yes
        {% endif %}
    </p>
{% endblock %}