You did it!

Hi, {{ name }}!

Your password: <em>{{ password }}</em>.

To login, go to: <a href="{{ url('login') }}">Go to the site</a>.

Thanks!

<img src="{{ absolute_url(asset('images/logo-dfgdfgdfgdfgdf.png')) }}">